<template>

  <div id="app">
    
     <NavBar />
    <SideBar/>
    <div class="containerBook">
      
        <div class="tablecontainer p-4">
        
                                    <div class=" col-lg-12">
                                        <button  @click='toogle = !toogle' class="addpatron">Add Book </button>
                                          <input class="search-box" type="text" name="" placeholder="Search...">
                                    </div>
        
                                         
                              
                                          <hr class="bg-dark">
                                          <table class="table table-bordered table-striped"> 
        <thead >
            <tr class="kkkk"> 
             <th>Action</th>
              <th>Name</th>
              <th>Author</th>
              <th>Copies<br>Available</th>
              <th>Categories</th>
            </tr>
         </thead>
         <tbody>  
              <td><a href="#" >Edit</a><br><a onclick="myFunction()" href="#" >Delete</a><br><a href="#">Borrow</a><br><a href="#">Return</a></td>
                    <td class="text-center">Jhenica-Lyn Sarabia</td>
                <td class="text-center">How to Pass the Subject</td>
                <td>5</td>
                <td class="text-center">Kim Lagonoy</td>
             
               
                <tr>
                  <td><a href="#" >Edit</a><br><a onclick="myFunction()" href="#" >Delete</a><br><a href="#">Borrow</a><br><a href="#">Return</a></td>
                  
                  <td class="text-center">Jhenica-Lyn Sarabia</td>
                <td class="text-center">How to Pass the Subject</td>
                <td>5</td>
                <td class="text-center">Kim Lagonoy</td>
                </tr>

            <tr>  
             <td><a href="#" >Edit</a><br><a onclick="myFunction()" href="#" >Delete</a><br><a href="#">Borrow</a><br><a href="#">Return</a></td>
                       <td class="text-center">Jhenica-Lyn Sarabia</td>
                <td class="text-center">How to Pass the Subject</td>
                <td>5</td>
                <td class="text-center">Kim Lagonoy</td>
               
              
                </tr></tbody>
    </table>
    </div>
         </div>
         
         <div v-show='toogle' class="holder" >
  <div class="modalContainer">
    <div class="content">
          <div class="book-management-content">
            <div class="heading">
                <div class="modal " id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                     <div class="modal-header">
                <p1 class="hText">ADD BOOK</p1>
                   </div>
                </div>
                    </div>
            </div>
             <div class="modal-content">
                <div class="modal-body">
                 <form class="form1 align-items-center">  
                    <div class="form-g">
                        <span> Name; <input class="form-input" type="text">
                        </span>
                      </div>
                      <div class="form-g">
                        <span>Author <input class="form-input" type="text"></span>
                      </div >
                       <div class="form-g">
                        <span>Copeis<input  class="form-input" type="text"></span>
                      </div>
                      <div class="form-g">
                        <span>Categories<input  class="form-input" type="text"></span>
                      </div>
                         <div class="form-g">
                         <button  class="btnregister  ">Add Book</button>
                      
                      </div >
                      
                     
                        <button  @click='toogle = !toogle' class="logout">Cancel</button>
                 </form>
                </div>
             </div>
          </div>
    </div>
    </div>
    </div>

  </div>
</template>

<script>
import NavBar from "./../navigation/NavBar";
import SideBar from "./../navigation/SideBar";
//import anay
export default {
    el: '#hello',
        data(){
          return {
            toogle:false
          }
        },    

  components: {
     SideBar,
     NavBar 
  },
};
 
</script>

<style>
</style>