<template>
  <div id="app">
    <NavBar />
    <SideBar/>
    <h3> SETTINGS INI </h3>
        
    
  </div>
</template>
<script>
import SideBar from "./../navigation/SideBar";
import NavBar from "./../navigation/NavBar";

export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
      SideBar,
      NavBar 
      },
};
</script>

<style>

</style>