*
{
	margin: 0;
	padding: 0;
}



.dark {
	color: white;
	background-color: #0E0067;
	font-size: 22px;	
}

.light{
background-color: rgb(90,46,50);
border-radius: 25px;
width: 200px;
height: 50px;
margin-left: 50px;
margin-top: 50px;


}

.btn-sm {
	
	color: white;
	font-size: 20px;
	display: flex;
	text-decoration: underline;
}

	


	
.navbar-brand2 img {
	position: absolute;
	width: 130px;
	height: 135px;
	left: -300px;
	top: -95px;
}

.navbar {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: rgb(133,91,91);

}

.container-ini {
	position: relative;
	display: flex;

}

.sidenav {
	position: relative;
	width: 300px;
	height: 607px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: hidden;
	transition: all 400ms;

	background-color: rgb(133,91,91);
}

.sidenav a {
	display: flex;
	align-items: center;
	padding: 30px;
}
.sidenav a p {
	font-size: 20px;
	color: white;
}
.sidenav a i {
	font-size: 20px;
	color: white;
}

.content {
	position: relative;
	right: 0px;
	width: 75vw;
	height: 85vh;
}
.mb-5{
	color: #0E0067;
}

.content .dashboard-content {
	margin-top: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bar,
.pie {
	background-color: rgb(81,71,71);
	padding: 30px;
	margin: 20px;
	width: 450px;
	height: 400px;
	color: white;
	font-size: 20px;
	text-align: center;
}

.content .book-management-content,
.content .patron-management-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}














.modal-body form div span{
	font-size: 20px;
	font-weight: 500;
}



{
  .navbar {
    height: 10vh;
    z-index: 1;
  }
  .sidenav {
    width: 15vw;
    height: 90vh;
    z-index: 1;
  }

  .sidenav a {
    justify-content: center;	
  }
  .sidenav a span {
    display: none;
  }
   .content {
    position: relative;
  }
  .content .dashboard-content {
    display: flex;
    flex-direction: column;
    top: 30px;
    right: 0;
  }

  

  .borrow-return-chart,
  .popular-book-chart {
    height: 300px;
    width: 300px;
  }
}