body {
	background-color: rgb(81,71,71);
}

.btndesign1{
	border-width: 3px;
	border-color: black;
	background-color: transparent;
	position: absolute;
	left: 1300px;
	top:7px;


}

.btndesign2{
	border-width: 3px;
	border-color: black;
	background-color: transparent;
	position: absolute;
	left: 1250px;
	top:7px;


}
.textdesign{
	color:white;
	font-size: 20px;
	font-weight: bold
	border:none;
	position: absolute;
	left: 1100px;
	top:8px;

}

.textdesign1{
	color:white;
	font-size: 20px;
	font-weight: bold
	border:none;
	position: absolute;
	left: 490px;
	font-weight: bolder;
	top:8px;

}

.textdesign2{
	color:white;
	font-size: 20px;
	font-weight: bold;
		
	position: absolute;
	left: 300px;
	top:8px;
	background-color: transparent;


}


.btndesign3{
	border-width: 3px;
	border-color: black;
	
background-color: transparent;
	position: absolute;
	left: 1200px;
	top:7px;


}
	
	.btndesign4{
	border-width: 3px;
	border-color: black;
	
background-color: transparent;
	position: absolute;
	left: 480px;
	width: 2px;
	background-color: black;
	height: 51px;
	top:0.5px;

}
.container1{
	width: 	900px;
	height: 	450px;
	margin-left: 7%;
}
.container2{
	width: 	900px;
	height: 	450px;
	margin-left: 1.5%;
}
.tablecontainer{
	top:100px;
	position:absolute;	
	width:900px;
	height:450px;
	left: 75px;
	background-color: rgb(217,204,204);


}

.tablecontainerbook{
	top:100px;
	position:absolute;	
	width:900px;
	height:450px;
	left: 75px;
	background-color: rgb(217,204,204);

}
.table-head{
	background-color: rgb(133,91,91);
}
.table{

}

.modal-header{
	height:50px;
	font-weight:bold;	
	background-color: rgb(133,91,91);
}
.hText{
		color:white;
}
.modal-body{
	background-color: rgb(217,204,204);
}
.form1{
	padding-top: 10%;
}
.form-g{
	padding-top: 5%;

}
.form-input{
	border-radius: 	20px;
	border:none	;
	


}

.btn-design{
	float:right	;
	margin-right: 	25%;
	background-color: rgb(133,91,91);
}

.btnadds{
	background-color: 	transparent;	
	border:none	;
	color:white;
}
.category-input{
	border-radius: 20px;
	border:none;
	width: 215px;
	height: 30px;
	background-color: white;
}
.search-box{
	padding-top: 1%;
	float:right;
	width: 300px;
	height: 50px;
}
