.navbar{
    background-color:rgb(220,225,235);
    width: 1375px;
}

.dogtitle{
    color:black;
    font-weight: bold
}
.doggy2{
    
    height: 500px;
    background-color: rgb(222,224,239);
}
.doggy3{
    
    height: 500px;
    background-color: rgb(237,219,221);
}

.doggy6{
    background-image: url(../img/bg3.jpeg);
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-color: rgb(240,238,239);

}
.p3{
    margin-top: 5%; 
    font-size: 25px;
    font-weight: bold;
}
.n1{
    padding-top: 0%;
    float:right;padding-right: 20%;"
    font-weight: bold;
    font-size: 30px;
}
.t1{
    padding:2%;
}
.m1{
    float:right;
    padding:2%;
    font-weight: bold;
    font-size: 1.5rem;
}
.doggy7{
    height: 50px;
    width:500px%;
    background-color:white;
}
.doggy5{
    
    height: 500px;
    background-color: rgb(197,194,198);
}

.doggtext{
    font-weight: bold;
    font-family: all;
}

.doggy4{

    opacity: 50%;
    border-radius: 20px;
    
    width: 700px;
    height: 50px;

    background-color: white;
}
.doggy1{
    margin-top: 35%;
    height: 120px;
    background-color: rgb(222,224,239);
}
.doggyy{
    margin-top: 10%;
    float:right;
    margin-right: 4%;
    opacity: 70%;
    background-color: white;
    width: 260px;
    height: 279;
    border-color: black ;
    

}
.doggy{
    opacity: 60%;
    background-color: white;
    width: 700px;
    border-color: black ;
    height: 75px;
    

}
.b1{
    background-color: red;
    border:none;
    width: 100px;
    margin-top: 10%;
}
.text-left{
    font-family: 20px;
    font-family:verdana;
    font-weight:    bold;   
}
.container1{

    margin-top: 0%;
    height: 1000px;
    background-color: white;
        color:black;

}
.text2nd{
    padding-top: 20px;
    padding-bottom: 5px;
    color:black;
    font-family: 10px;
}
body{
   
    background-repeat: no-repeat;
    font-family: sans-serif;
    
}
.btn1{
    float: right;
    border:none;
    height: 38px;
    width: 100px;
    background-color: transparent;
    transition: all 0.3s ease;
    font-size: 1rem;
    color:black;
}

form button:hover{
    background: #fda085;
    color:white;
    
}
.btn2{
    float: right;
    float: right;
    color:black;
    background-color: transparent;
    border:none;
   
   
    height: 32px;
    
    width: 150px;
    transition: all 0.3s ease;
    font-size: 1rem;    
    transition: all 0.3s ease;
}
















