<template>
  <div  id="app">
  
         
        <nav class="navbar navbar-dark ">
        
            <button class="bt1"><span><img src="../../assets/images/scroll.png" width="30px" height="30px"></span></button>
            <button class="b1"><span><img src="../../assets/images/minimize.png" width="30px" height="30px"></span></button>
            <button class="b1"><span><img src="../../assets/images/close.png" width="30px" height="30px"></span></button>
            <button  class="t1"><p>Logout</p></button>
            <button  class="t2"><p >Dashboard</p></button>
            <button class="t4"></button>
            <button class="t3 "><p>LIBRARY SYSTEM</p></button>
<!--     <img class="srcs" src="../../assets/images/bookmark.png"> -->
    </nav>
   </div>
  
</template>
<script>
export default {
  
}
</script>
<style></style>