<template>

  <div id="app">
    <div sidenav>
      <div class="sidebarContainer">
         <router-link to="/Dashboard">  
         
        <div class="sidepart">
        <span><img src="../../assets/images/dashboardm.png" height="35px" width="40px"></span><a  href="index.html" class="light">
         Dashboard</a>
        </div>
         </router-link>
          <router-link to="/Patron">
         <div class="sidepart">
        <span><img src="../../assets/images/patronm.png" height="35px" width="40px"></span><a  href="index.html" class="light2">
         Patron<br> Management</a>
        </div>
          </router-link>
          <router-link to="/Book">
         <div class="sidepart">
        <span><img src="../../assets/images/booksm.png" height="35px" width="40px"></span><a  href="index.html" class="light3">
         Book <br>Management</a>
        </div>
        </router-link>
         <router-link to="/Settings">

         <div class="sidepart">
        <span><img src="../../assets/images/settingm.png" height="35px" width="40px"></span><a  href="index.html" class="light4">
         Settings</a>
        </div>
         </router-link>
      </div>

    </div>
   </div>
  
</template>
<script>

export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style></style>