.navbar{
	background-color:rgb(133, 91, 91);
	height:50px;
}
body{
	background-color: rgb(133, 91, 91);
}
.bt1{
	margin-left:1175px;
	background-color: transparent;
	border-width:1px;
	border-color: black;
}
.b1{
	background-color: transparent;
	border-width:1px;
	border-color: black;
}
.t1{
	color:white;
	font-size: 20px;
	font-weight: bold;
	border:none;
	position: absolute;
	left:1075px;
	top:5px;
	background-color:transparent;
}
.t2{
	color:white;
	font-size: 20px;
	font-weight: bold;
	border:none;
	position: absolute;
	left:500px;
	top:5px;
	background-color:transparent;
}
.t3{
	color:white;
	font-size: 20px;
	font-weight: bold;
	border:none;
	position: absolute;
	left:295px;;
	top:5px;
	background-color:transparent;
}
.t4{
	background-color:black;
	height:50px;
	width:10px;
	border:none;
	position: absolute;
	left:483px;
}

.sidebarContainer{
	background-color: rgb(133, 91, 91);
	width:296px;
	position: absolute;
	height:1400px;
}

.sidepart{
	padding-top:2.5%;
	padding-left:9%;
	margin-top:20%;
	margin-left:55px;
	width:200px;
	height:50px;
	background-color: rgb(90, 46, 50);
	border-radius: 25px;

}
.light{
	position: absolute;
	top:75px;
	text-decoration: none;
	font-size: 15px;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:130px;
}
.light2{
	position: absolute;
	top:168px;
	text-decoration: none;
	font-size: 15px;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:130px;
}
.light3{
	position: absolute;
	top:278px;
	text-decoration: none;
	font-size: 15px;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:130px;
}
.light4{
	position: absolute;
	top:400px;
	text-decoration: none;
	font-size: 15px;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	left:130px;
}
.containerDashboard{
	position: absolute;
	left:300px;
	top:58px;
	height:700px;
	width:1042px;
	background-color: rgb(81, 71, 71)
}
.containerPatron{
	position: absolute;
	left:300px;
	top:58px;
	height:700px;
	width:1042px;
	background-color: rgb(81, 71, 71)
}
.containerBook{
	position: absolute;
	left:300px;
	top:58px;
	height:700px;
	width:1042px;
	background-color: rgb(81, 71, 71)
}
.containerSetting{
	position: absolute;
	left:300px;
	top:58px;
	height:700px;
	width:1042px;
	background-color: rgb(81, 71, 71)
}
.column{
	width:50%;
}
.row{
	width:100%
}

.modalContainer{
	background-color:rgb(217, 204, 204);
	width:500px;
	height:500px;
}
.modal-header{
	background-color: rgb(133,91, 91);
	height:50px;
	font-weight: bolder;
	font-size:20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:white;
	text-align: center;
	padding-top:3%;
}
.form-g{
	padding:6%;
	font-size:15px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif	;
	font-weight: bolder;
}
.form-input{
	float:right;
	width:200px;
	height:30px;
	border-radius: 20px;
	border:none;
	margin-right:150px;
}
.holder{
	
		position: fixed;
		top: 0;
		padding-top:5%;
		padding-left:40%;
		bottom: 0;
		left:0;
		right: 0;
		background: rgba(0,0,0,0.6);

}
.btnregister{
	float:right;
	background-color:rgb(133, 91, 91);
	border:none;
	height:50px;
	width:100px;
	border-radius: 20px;
	margin-bottom:20px;
}
.logout{
	width:100%;
	border:none;
	background-color: rgb(81, 71, 71);
	height:50px;;
	
}
.search-box{
	float:right;
}
.tablecontainer{
	position:absolute;
	left:20px;
	top:20px;
	width:900px;
	height:650px;
	background-color: rgb(217, 204, 204);
}
.blue{
	background-color: rgb(81, 71, 71);
	height:50px;
}
.addpatron{
	background-color: transparent;
	color:white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border:none;
	font-size: 20px;
	text-decoration: underline;
	font-weight: bold;
}
.kkkk{
	background-color: rgb(133, 91, 91);
	height:50px;

}
.kkk{
	width:100%;
	
}
.column1{
	position: absolute;
	width:500px;
	height:700px;
	top:150px;
}
.column2{
	left:500px;
	top:150px;
	position: absolute;
	width:500px;
	height:700px;
	
}